DATABASE_URL="sqlserver://DESKTOP-K27PT1K:1433;database=Farmacia;user=sa;password=YourStrong!Passw0rd;encrypt=true;trustServerCertificate=true"
DATABASE_CONNECTION_STRING="Driver={ODBC Driver 17 for SQL Server};Server=DESKTOP-K27PT1K;Database=Farmacia;Trusted_Connection=Yes;Encrypt=Yes;TrustServerCertificate=Yes;"